@{
    ViewData["Title"] = "Home Page";
}


<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>


</head>
<body>



    <div class="container-fluid">
        <h2 class="col-xs-12 text-center">Online Ecommerce Store</h2>

    </div>

    <div class="container-fluid">

        <div id="mytable" data-bind="foreach:items">
            <div class="" data-bind="">

                <div class="row-fluid">
                    <div class="col-md-4">
                        <br>
                        <div style="border-style:groove"><img src="./css/Image3.jpg" alt="" style="width:100%"></div>
                        <h5>Id: <b><span data-bind="text:Id" /></b></h5>
                        <h5>Product Name: <b><span data-bind="text:Name" /></b></h5>
                        <h5>Price: <b><span data-bind="text:Price" /></b></h5>
                        <button data-bind="click: $root.save" type="submit" class="btn btn-warning">Add to Cart</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr />

    <!--------------------------------------------------------------->
    <div class="container-fluid">
        <h4><b>My Cart</b></h4>
        <table class="table table-striped table-hover table-fluid">
            <thead>
                <tr>
                    <td><b>Name</b></td>
                    @*  <td><b>Quantity</b></td>*@
                    <td><b>Price/unit</b></td>
                    @*<td><b>Whole-Price</b></td>*@
                    <td><b>Delete</b></td>
                </tr>

            </thead>
            <tbody data-bind="foreach:items2">
                <tr>
                    <td><span data-bind="text:$data.name"></span></td>
                    @* <td><input data-bind=""></td>*@
                    <td><span data-bind="text:$data.price"></span></td>

                    @*  <td><span data-bind=""></span></td>*@
                    <!--  -->
                    <td><button type="submit" data-bind="click: $root.DelProduct" class="glyphicon glyphicon-trash" style="color:red; border: none;" data-bind=""></button></td>

                </tr>
            </tbody>
        </table>


    </div>







    <script src="./js/Main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.js" integrity="sha512-2AL/VEauKkZqQU9BHgnv48OhXcJPx9vdzxN1JrKDVc4FPU/MEE/BZ6d9l0mP7VmvLsjtYwqiYQpDskK9dG8KBA==" crossorigin="anonymous"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</body>
</html>
